<html>
<head>
    <title>3D柱状图</title>
</head>
<body>

<div  style="text-align:center">
    jfreechart _3D柱状图 <br><br>
    柱状图
    <br><br>
    <img src="${chartBarURL}"  width=1000 height=800  border=0  color=gray>
</div>
</body>
</html>