<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.RoleAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.project.entity.RoleAuthority">
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="authorityname" jdbcType="VARCHAR" property="authorityname" />
  </resultMap>

  <sql id="Base_Column_List">
    rolename, authorityname
  </sql>

  <insert id="insertIntoList" parameterType="java.util.List">
    insert into role_authority(rolename,authorityname)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.rolename,jdbcType=VARCHAR},#{item.authorityname,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <delete id="deleteRoleAuthorityWithRole" parameterType="com.project.entity.RoleAuthority">
    delete from role_authority
    where 1 = 1
    <if test="rolename != null">
      and rolename = #{rolename,jdbcType=VARCHAR}
    </if>
    <if test="authorityname != null">
      and authorityname #{authorityname,jdbcType=VARCHAR}
    </if>
  </delete>



  <select id="selectWithConditions" parameterType="com.project.entity.RoleAuthority" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_authority
    where 1 = 1
    <if test="rolename != null">
      and rolename = #{rolename,jdbcType=VARCHAR}
    </if>
    <if test="authorityname != null">
      and authorityname #{authorityname,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_authority
    where 1 = 1
  </select>



  <update id="batchUpdateRoleAuthority" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=",">
      update role_authority
      set
          authorityname = #{item.authorityname,jdbcType=VARCHAR}
      where 1 = 1
      <if test="item.rolename != null">
        and rolename = #{item.rolename,jdbcType=VARCHAR}
      </if>
    </foreach>
  </update>

  <update id="updateRoleAuthority" parameterType="com.project.entity.RoleAuthority">
    update role_authority
    set  authorityname = #{record.authorityname,jdbcType=VARCHAR}
    where 1 = 1
    <if test="rolename != null">
      and rolename = #{record.rolename,jdbcType=VARCHAR}
    </if>
  </update>
</mapper>